@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>
        Welcome. 
    </h1>
</div>

<div class="text-center" style="margin-top:200px">
    <h1 style="font-family: Times New Roman, Times, serif">
        Book <span style="color: red">Store</span>
    </h1>
</div>

