@{
    ViewBag.Title = "Delete Page"; 
}

<form method="POST">
    <span>
        <input type="text" placeholder="ISBN" name="isbn"/>
    </span>
    <span>
        <input type="submit" asp-action="Delete"/>
    </span>
     <h5>Get The Data After Change: </h5>
    <span>
        <button>
            <a asp-area="" asp-controller="Book" asp-action="getBook">Get Book</a>
        </button>
    </span>
</form>